/* RegisterPage.css */

/* Center the form on the page */
.RegisterPage-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to right, #c5c5c5 49.5%, #ffffff 1%, #67959a 49.5%);
}

/* Stack the box and form */
.RegisterPage-stack {
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateY(-5%);
}

/* White rounded box for the form */
.RegisterPage-box {
    background-color: rgba(103, 149, 154, 0.8);  /* Adds a teal background with some transparency */
    color: white;  /* Makes text inside this box white */
    width: 300px;  /* The box will be 300 pixels wide */
    padding: 24px;  /* Adds space inside the box between the text and the edges */
    border-radius: 12px;  /* Rounds the corners to make it look smoother */
    text-align: center;  /* Centers all text inside */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);  /* Adds a soft black shadow around the box */
    transform: translateY(10%);  /* Moves the box slightly down */
}

/* Consistent input styles */
.RegisterPage-box input {
  width: 100%;
  margin: 10px 0;
  padding: 10px 14px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
}

/* Button for next/back/register */
.RegisterPage-button {
    margin-top: 10px;  /* Adds space above the button */
    padding: 12px 24px;  /* Adds space inside the button (top/bottom: 12px, left/right: 24px) */
    border: none;  /* No border */
    background-color: #c5c5c5;  /* Light gray background color */
    color: white;  /* White text */
    font-size: 16px;  /* Size of the text inside button */
    border-radius: 20px;  /* Makes the button’s corners round */
    cursor: pointer; 
}

.RegisterPage-button:hover {
  background-color: #577e86;
}

/* Google address autocomplete dropdown */
.autocomplete-container {
  position: relative;
  
}

.autocomplete-list {
  list-style: none;
  margin: 0;
  padding: 0;
  background: white;
  border: 1px solid #ccc;
  border-radius: 6px;
  position: absolute;
  z-index: 1000;
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
}

.autocomplete-list li {
  padding: 10px;
  cursor: pointer;
  color: #333;
}

.autocomplete-list li:hover {
  background-color: #f0f0f0;
}

/* slide container */
.RegisterPage-step {
  display: flex;
  flex-direction: column;
}

.login-link {
  margin-top: 12px;
  font-size: 14px;
  text-align: center;
  color: #444;
}

.login-link span {
  color: #67959a;
  cursor: pointer;
  text-decoration: underline;
}

.login-link span:hover {
  color: #4c7378;
}